header {
background-image: url(head1.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment:inherit;
height: 500px;
width: 100%;
}
main marquee {
    color: white;
    background-color: rgb(55 55 55);
    font-size: 20px;
    height: 30px;
    direction: ltr;
    box-shadow: 1px 1px 10px white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
main p{
    color: white;
    background-color: rgba(79, 66, 82, 0.993);
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    width: 120px;
    height: 35px;
    text-align: center;
    top: 488px;
    right: 7px;
    line-height: 35px;
    float: right;
    position: absolute;
}
main {
    background-color: rgb(238, 243, 245);
}
.card {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card1 {
    width:255px;
    background-color: rgb(124, 156, 146);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px blanchedalmond;
    margin: 20px;
}
.card1 img {
    width: 100%;
    height: auto;
}
.card1-content {
    padding: 16px;
}
.card1-content h1 {
    font-size: 28px;
    margin-bottom: 8px;
}
.card1-content h2{
    color: beige;
    font-size: 15px;
    line-height: 1.3;
}
.card1-content .cart {
    display: inline-block;
    padding: 8px 15px;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    color: azure;
}
footer {
    text-align: center;
    background-color:white;
}
footer h3 {
    color: #333;
    font-size: 40px;
    font-family: sans-serif;
    color: blueviolet;
}
footer h4 {
    font-size: 20px;
    color: rgb(85, 190, 155);
}
footer h5 {
    font-size: 15px;
    color: rgb(85, 190, 155);
}